.container {
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 300px;
  min-height: 100px;
  max-height: 100px;
  border: 1px dashed #212121;
  border-radius: 1em;

  .bgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 1em;
    .bg {
      max-width: 100%;
      height: auto;
    }
  }
}

.label {
  align-self: start;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(244, 241, 241, 0.44);
  border-radius: 1em;
  cursor: pointer;
  &:hover {
    background-color: #ececec;
  }

  .labelText {
    color: #3e3d3d;
  }

  &:hover {
    opacity: .7;
  }
}