.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;

  .title {
    font-size: 22px;
  }

  .text {
    word-break: break-word;
  }
}



.buttonContainer {
  display: flex;
  gap: 40px;
}

.btn {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 30px;
  background-color: #fff;
  border: 1px solid #212121;
  //box-shadow: 0 4px 18px rgba(27, 27, 28, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  color: #212121;
}

.primary {
  color: #fff;
  background: #cc1439;
  border: none;
  box-shadow: 0 4px 18px rgba(27, 27, 28, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}