@import 'src/common/styles/mixins';

.innerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .wrapper{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 70%;
    word-break: break-word;

    .title {
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
    }

    .avaContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 70px;
      min-height: 70px;
      max-width: 70px;
      max-height: 70px;
      border-radius: 50%;
      overflow: hidden;

      .innerAvaWrapper {
        min-width: 70px;
        min-height: 70px;
        max-width: 70px;
        max-height: 70px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #212121;
        border-radius: 50%;
        overflow: hidden;

        .ava {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .btn {
    padding: 10px 15px;
    font-size: 16px;
    background: #212121;
    box-shadow: 0px 4px 18px rgba(27, 27, 28, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    border: none;
    color: #fff;
  }

}