@import 'src/common/styles/mixins';

.header {
  width: 80vw;
  height: 6vh;
  background: #212121;
  color: #fff;
  display: block;

  .tr {
    height: 6vh;
    display: flex;
    align-items: center;
    width: 100%;

    &:last-child {
      cursor: inherit;
    }

    .th {
      padding-left: 36px;
      width: calc(42vw / 3);
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;

      &:first-child {
        width: 30vw;
      }

      &:last-child {
        width: 8vw;
      }

      .titleContainer {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        .sortText {
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
        }

        .iconSort {
          width: 20px;
          height: 20px;
          transition: all 0.3s ease-in-out;

          &:hover {
            opacity: .7;
          }
        }

        .rotate {
          transform: rotate(180deg);
        }
      }
    }
  }

}


