@import 'src/common/styles/mixins';

.container {
  width: 100vw;
  height: 1px;
  min-height: 93vh;

  .wrapper {
    width: 90vw;
    height: 93vh;
    margin: 0 auto;
    padding: 5vh 5vw 0 5vw;

    .innerWrapper {
      position: relative;
      height: 88vh;
      display: flex;
      flex-direction: column;


      .cardHeaderBlock {
        height: 27vh;
        display: flex;
        flex-direction: column;
        gap: 2vh;

        .linkBackward {
          display: flex;
          gap: 5px;
          cursor: pointer;
          transition: all .2s ease-in-out;

          &:hover {
            transform: translateX(-5px);
          }
        }
      }

      .cardContentBlock {
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}


.tr {
  height: 6vh;
  display: flex;
  align-items: center;
  width: 100%;
}

.th {
  padding-left: 36px;
  width: 15vw;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  &:first-child {
    width: 35vw;
  }

  &:nth-child(2) {
    width: 35vw;
  }
}