@import 'src/common/styles/mixins';
.body {
  width: 80vw;
  display: block;
  max-height: 57vh;
  overflow: auto;

  .tr {
    height: 9.44vh;
    word-wrap: break-word;

    .title {
      word-break: break-word;
      &:hover {
        opacity: .7;
        transition: all .2s ease-in-out;
      }
    }

    .td {
      width: calc(42vw / 3);

      padding: 0 5px 0 38px;
      text-align: start;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;

      &:first-child {
        width: 30vw;
      }

      &:last-child {
        width: 8vw;
      }
    }

    .coverContainer {
      display: flex;
      align-items: center;
      gap: 30px;

      border-radius: 50%;

      .avaContainer {
        min-width: 60px;
        max-width: 60px;
        min-height: 60px;
        max-height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border: 1px solid #fff;
        border-radius: 50%;

        .bg {
          max-width: 100%;
          height: auto;
        }
      }
    }
}


  .iconContainer {
    display: flex;
    gap: 10px;
    align-items: center;

    .icon {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }

  .disIcon {
    background-color: rgba(128, 128, 128, 0.02);
    opacity: .9;
  }
}

.packTitle {
  cursor: pointer;
}

