.container {
  width: 100vw;
  height: 1px;
  min-height: 93vh;

  .wrapper {
    width: 90vw;
    height: 93vh;
    margin: 0 auto;
    padding: 3vh 5vw 0 5vw;

    .innerWrapper {
      height: 90vh;
      display: flex;
      flex-direction: column;


      .packHeaderBlock {
        height: 20vh;
        display: flex;
        flex-direction: column;
        gap: 3vh;
      }

      .packContentBlock {
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}

